<% include templates/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center alert alert-success" role="alert">
                <%=message %>
            </div>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>