@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #1ee2e7;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #17d0d5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.navbar-default.navbar-shrink {
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: 'Roboto', sans-serif;
  color: #1ee2e7;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  color: #fec503;
}

.navbar-default .nav li a {
  color: #fff;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

#loginForm {
  overflow: hidden;
  margin-bottom: 15px;
}